{{#content "head" mode="append"}}
  <script src="/dist/eye.js"></script>
{{/content}}

<ul class="nav nav-tabs" style="display: none;" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="tri-eye-tab1" data-toggle="tab" data-target="#eye-tab1" href="#eye-tab1" role="tab"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tri-eye-tab2" data-toggle="tab" data-target="#eye-tab2" href="#eye-tab2" role="tab"></a>
  </li>
</ul>
<div class="tab-content" id="eye-layout">
  <div class="tab-pane active" id="eye-tab1" role="tabpanel">

  </div>
  <div class="tab-pane" id="eye-tab2" role="tabpanel"></div>
</div>
