<script type="text/html" id="dd_env_tmpl">
    <div class="dropdown-header" id="envh_<%= id %>">
        <h5>
            <span class="tag tag-<%= level %>">
                <%= name %>
                <% if (desc.length > 0) { %>
                <br/>
                <small class="linebreak"><%= desc %></small>
                <% } %>
            </span>
        </h5>
    </div>
</script>

<script type="text/html" id="dd_env_group_tmpl">
    <div class="dropdown-header" id="grouph_<%= env.id %>_<%= id %>" envg="<%= id %>">
        <h6 style="font-size: 90%">
            {{! <span class="text-<%= 'danger' == env.level ? 'danger' : 'muted' %>"> }}
            {{! <span class="text-<%= env.level %>"> }}
            <span class="text-silver">
              <em class="fa fa-flag-o"></em>&nbsp;&nbsp;<%= name %>
              <% if (desc.length > 0) { %>
                <footer class="blockquote-footer">
                    <small class="linebreak text-silver"><%= desc %></small>
                </footer>
              <% } %>
            </span>
        </h6>
    </div>
</script>

<script type="text/html" id="dd_server_tmpl">
    <a class="dropdown-item" href="javascript:void(0);" id="server_<%= id %>">
        <span class="text-<%= env.level %>" style="font-size: 110%" title="<%= env.name %>  <%= group.name %> - <%= name %>"><%= name %></span>
        <% if (desc.length > 0) { %>
        <footer class="blockquote-footer">
            <small class="linebreak text-<%= env.level %>" style="font-size: 80%"><%= desc %></small>
        </footer>
        <% } %>
    </a>
</script>

<script type="text/html" id="dd_api_group_tmpl">
    <div class="dropdown-header" id="api_group_<%= id %>">
        <h5>
            <span class="tag tag-info">
                <%= name %>
                <% if (desc.length > 0) { %>
                <br/>
                <small class="linebreak"><%= desc %></small>
                <% } %>
            </span>
        </h5>
    </div>
</script>

<script type="text/html" id="dd_api_tmpl">
    <div class="dropdown-item" id="interf_<%= id %>">
        <blockquote class="blockquote" style="font-size: 110%" apig="<%= group.id %>">
            <p class="m-b-0 linebreak icondh">
                <% if (2 == mutation) { %>
                    <span class="tag tag-success">Mutation </span>
                <% } %>
                <%= name %>
            </p>
            <% if (desc.length > 0) { %>
            <footer class="blockquote-footer">
                <small class="linebreak text-muted"><%= desc %></small>
            </footer>
            <% } %>
        </blockquote>
    </div>
</script>

<script type="text/html" id="api_table_tmpl">
<table class="table table-hover" id="s_api_table">
    <thead>
    <tr>
        <th style="border: none;">
            <span class="text-muted">API &nbsp;&nbsp;</span>
            <button class="btn btn-secondary btn-sm text-muted borderinfo" id="apitgl_apirequ" type="button">
                Request
            </button>
            <button class="btn btn-secondary btn-sm text-muted borderinfo" id="apitgl_apiresp" type="button">
                Response
            </button>
            <button class="btn btn-secondary btn-sm text-muted borderinfo" id="apitgl_group" type="button">
                Group
            </button>
        </th>
        <th class="hidden-sm-down" style="width: 37px;"></th>
    </tr>
    </thead>
    <tbody id="s_api_tbody"></tbody>
</table>
</script>

<script type="text/html" id="api_tr_tmpl">
    <%
      lemon.each(items, function(group) {
        if (!lemon.existsEl('#apitgl_group_' + group.info.id)) {
    %>
          <tr id="apitgl_group_<%= group.info.id %>" apigroupable="<%= batchNo %>" data-group-id="<%= lemon.enc(group.info.id) %>">
              <td>
                  <h5>
                      <span class="tag tag-info">
                          <span class="fa fa-flag"></span>
                          &nbsp;<%= group.info.name %>
                      </span>
                  </h5>
              </td>
              <td class="hidden-sm-down"></td>
          </tr>
        <% } %>

      <% lemon.each(group.interfs, function(api) {
          var hasResp = (api.response_doc || '').length > 0;
      %>
        <tr tgl-group="tgl" apigroupc="<%= group.info.id %>">
            <td clickable="<%= batchNo %>" id="anapi_<%= api.id %>" data-group="<%= lemon.enc(group.info) %>" data-api="<%= lemon.enc(api) %>">
            <blockquote class="<%= lemon.isSmallDownView() ? '' : 'blockquote' %>" style="overflow: auto">
                <% if (lemon.isSmallDownView()) { %>
                    <div class="row hidden-md-up">
                        <span class="invisible">&nbsp;&nbsp;</span>
                        <% if (hasResp) { %>
                        <button class="btn btn-secondary btn-sm text-muted icondh" id="btgl_<%= batchNo %>_3_<%= api.id%>"
                                title="Toggle <%= api.name %> Request & Response" style="border: none;" type="button">
                            <em class="fa fa-eye"></em>
                        </button>
                        <h6 class="invisible"></h6>
                        <% } %>
                        <button class="btn btn-secondary btn-sm text-muted icondh"
                                id="btgl_<%= batchNo %>_1_<%= api.id%>" title="Toggle <%= api.name %> Request"
                                style="border: none;" type="button">
                            <em class="fa fa-mail-reply"></em>
                        </button>
                        <% if (hasResp) { %>
                        <h6 class="invisible"></h6>
                        <button class="btn btn-secondary btn-sm text-muted icondh"
                                id="btgl_<%= batchNo %>_2_<%= api.id%>" title="Toggle <%= api.name %> Response"
                                style="border: none; " type="button">
                            <em class="fa fa-mail-forward"></em>
                        </button>
                        <% } %>
                        <% if (api.owner && 2 == api.owner) { %>
                        <h6 class="invisible"></h6>
                        <a class="btn btn-secondary btn-sm text-muted icondh" data-preview href="/manage/interface/<%= api._id %>" title="Edit <%= (2 == api.mutation ? 'Mutation of ' : '') + api.name %>" style="border: none; ">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                        <% } %>
                        <h6 class="invisible"></h6>
                        <button class="btn btn-secondary btn-sm text-muted icondh" id="apishare_<%= batchNo %>_<%= api.id %>" title="Share <%= api.name %>" style="border: none; " type="button">
                            <em class="fa fa-share-alt"></em>
                        </button>
                        <h6 class="invisible"></h6>
                        <button class="btn btn-secondary btn-sm text-muted icondh" id="apicfgbatchrequ_<%= batchNo %>_<%= api.id %>" title="Setting-up for <%= api.name %>" style="border: none; " type="button">
                            <em class="fa fa-legal"></em>
                        </button>
                    </div>
                    <h6 class="invisible"></h6>
                <% } %>

                <% if (2 == api.mutation) { %>
                  <span class="tag tag-success" style="font-size: 65%;">Mutation of <%= api.name %></span>
                  <h5 class="invisible"></h5>
                <% } %>
                <%= highlight(api.request_doc, 'Request', {
                      'tgl-apirequ': 'tgl',
                      id: ('bapi_' + batchNo + '_1_' + api.id)
                }) %>
                <% if (hasResp) { %>
                  <%= highlight(api.response_doc, 'Response', {
                      'tgl-apiresp': 'tgl',
                      id: ('bapi_' + batchNo + '_2_' + api.id)
                  }) %>
                <% } %>
                <footer class="blockquote-footer">
                    <% if (2 == api.mutation) { %>
                      Mutation of
                    <% } %>
                    <span class="font-weight-bold"><%= api.name %></span>
                    <cite style="font-size: 90%">
                        <% if (2 == api.mutation) { %>
                            <span class="text-success"><%= api.desc %></span>
                        <% } else { %>
                            <%= api.desc %>
                        <% } %>
                    </cite>
                </footer>
                </blockquote>
            </td>
            <% if (lemon.isMediumUpView()) { %>
                <td class="hidden-sm-down">
                    <% if (hasResp) { %>
                        <button class="btn btn-secondary btn-sm text-muted icondh" id="btgl_<%= batchNo %>_3_<%= api.id%>"
                                title="Toggle <%= api.name %> Request & Response" style="border: none;" type="button">
                        <em class="fa fa-eye"></em>
                        </button>
                        <h6 class="invisible"></h6>
                    <% } %>
                    <button class="btn btn-secondary btn-sm text-muted icondh"
                            id="btgl_<%= batchNo %>_1_<%= api.id%>" title="Toggle <%= api.name %> Request" style="border:
                             none;" type="button">
                    <em class="fa fa-mail-reply"></em>
                    </button>
                    <% if (hasResp) { %>
                        <h6 class="invisible"></h6>
                        <button class="btn btn-secondary btn-sm text-muted icondh"
                                id="btgl_<%= batchNo %>_2_<%= api.id%>" title="Toggle <%= api.name %> Response"
                                style="border: none; " type="button">
                        <em class="fa fa-mail-forward"></em>
                        </button>
                    <% } %>
                    <% if (api.owner && 2 == api.owner) { %>
                        <h6 class="invisible"></h6>
                        <a class="btn btn-secondary btn-sm text-muted icondh" data-preview href="/manage/interface/<%= api._id %>" title="Edit <%= (2 == api.mutation ? 'Mutation of ' : '') + api.name %>" style="border: none; ">
                            <em class="fa fa-pencil-square-o"></em>
                        </a>
                    <% } %>
                    <h6 class="invisible"></h6>
                    <button class="btn btn-secondary btn-sm text-muted icondh" id="apishare_<%= batchNo %>_<%= api.id %>" title="Share <%= api.name %>" style="border: none; " type="button">
                        <em class="fa fa-share-alt"></em>
                    </button>
                    <h6 class="invisible"></h6>
                    <button class="btn btn-secondary btn-sm text-muted icondh" id="apicfgbatchrequ_<%= batchNo %>_<%= api.id %>" title="Setting-up for <%= api.name %>" style="border: none; " type="button">
                        <em class="fa fa-legal"></em>
                    </button>
                </td>
            <% } %>
        </tr>
      <% }); %>
    <% }); %>
</script>

<script type="text/html" id="his_table_tmpl">
    <table class="table table-hover" id="s_his_table">
        <thead>
        <tr>
            <th style="border: none;">
                <span class="text-muted">Histories &nbsp;&nbsp;</span>
                <button class="btn btn-secondary btn-sm text-muted borderinfo" id="histgl_requ" type="button">
                    Request
                </button>
                <button class="btn btn-secondary btn-sm text-muted borderinfo" id="histgl_resp" type="button">
                    Response
                </button>
                <button class="btn btn-secondary btn-sm text-muted borderinfo" id="histgl_timegroup" type="button">
                    Time Group
                </button>
            </th>
            <th class="hidden-sm-down" style="width: 37px;"></th>
        </tr>
        </thead>
        <tbody id="s_his_tbody"></tbody>
    </table>
</script>

<script type="text/html" id="his_tr_tmpl">
    <%
    var prevInterval = '';

    lemon.each(items, function(his) {
      var curInterval = lemon.when.interval(his.create_time);
      var theTimeId = curInterval.replace(/\s*/g, '');
      if (curInterval != prevInterval) {
          prevInterval = curInterval;
          if (!lemon.existsEl('#histgl_time_' + theTimeId)) {
    %>
              <tr id="histgl_time_<%= theTimeId %>" timegroupable="<%= batchNo %>" data-time-id="<%= lemon.enc(theTimeId) %>">
                  <td>
                      <h5>
                            <span class="tag tag-info">
                                <span class="fa fa-clock-o"></span> &nbsp;<%= curInterval %>
                            </span>
                      </h5>
                  </td>
                  <td class="hidden-sm-down"></td>
              </tr>
          <% } %>
      <% } %>

      <tr tgl-timegroup="tgl" timegroupc="<%= theTimeId %>">
          <td clickable="<%= batchNo %>" data-his="<%= lemon.enc(his) %>" id="ahis_<%= his.id %>">
              <% if (2 == his.api.mutation) { %>
                  <span class="tag tag-success" style="font-size: 65%;">Mutation of <%= his.api.name %></span>
                  <h5 class="invisible"></h5>
              <% } %>
              <blockquote class="<%= lemon.isSmallDownView() ? '' : 'blockquote' %>" style="overflow: auto">
                  <% if (lemon.isSmallDownView()) { %>
                      <div class="row hidden-md-up">
                          <span class="invisible">&nbsp;&nbsp;</span>
                          <button class="btn btn-secondary btn-sm text-muted icondh" id="histgl_<%= batchNo %>_3_<%= his.id%>"
                                  title="Toggle <%= his.api.name %> Request & Response" style="border: none;" type="button">
                              <em class="fa fa-eye"></em>
                          </button>
                          <button class="btn btn-secondary btn-sm text-muted icondh"
                                  id="histgl_<%= batchNo %>_1_<%= his.id%>" title="Toggle <%= his.api.name %> Request"
                                  style="border: none;" type="button">
                              <em class="fa fa-mail-reply"></em>
                          </button>
                          <button class="btn btn-secondary btn-sm text-muted icondh"
                                  id="histgl_<%= batchNo %>_2_<%= his.id%>" title="Toggle <%= his.api.name %> Response"
                                  style="border: none; " type="button">
                              <em class="fa fa-mail-forward"></em>
                          </button>
                          <button class="btn btn-secondary btn-sm text-muted icondh"
                                  id="commenttgl_<%= batchNo %>_<%= his.id %>" title="Toggle <%= his.api.name %> API
                                  Document" style="border: none; " type="button">
                              <em class="fa fa-comment"></em>
                          </button>
                          <button class="btn btn-secondary btn-sm text-muted icondh"
                                  id="hisnote_<%= batchNo %>_<%= his.id %>" title="Add Note for <%= his.api.name %>"
                                  style="border: none; " type="button">
                              <em class="fa fa-sticky-note-o"></em>
                          </button>
                          <button class="btn btn-secondary btn-sm text-muted icondh"
                                  id="hisshare_<%= batchNo %>_<%= his.id %>" title="Share <%= his.api.name %>"
                                  style="border: none; " type="button">
                              <em class="fa fa-share-alt"></em>
                          </button>
                      </div>
                      <h6 class="invisible"></h6>
                  <% } %>
                  <%= highlight(his.api.request, 'Request', {
                      'tgl-requ': 'tgl',
                      id: ('bhis_' + batchNo + '_1_' + his.id)
                  }) %>
                  <%= highlight(his.api.response, 'Response', {
                      'tgl-resp': 'tgl',
                      id: ('bhis_' + batchNo + '_2_' + his.id)
                  }) %>
                  <% var hasNote = his.note && his.note.length > 0; %>
                  <div class="alert alert-warning linebreak" role="alert" id="anote4his_<%= batchNo %>_<%= his.id %>"
                       style="<%= hasNote ? '' : 'display: none;' %>border: none;font-size: 85%;width:<%= preStyle.width
                        %>px; max-width:<%= preStyle['max-width'] %>px;">
                      <% if (hasNote) { %>
                          <%= his.note %>
                      <% } %>
                  </div>
                  <footer class="blockquote-footer">
                      <span class="text-<%= his.env.level %>"><%= his.env.name %>  <%= his.group.name %> - <%= his.serv.name %></span>
                  </footer>
                  <footer class="blockquote-footer">
                      <% if (2 == his.api.mutation) { %>
                        Mutation of
                      <% } %>
                      <span class="font-weight-bold"><%= his.api.name %></span>
                      <cite style="font-size: 90%">
                          <% if (2 == his.api.mutation) { %>
                          <span class="text-success"><%= his.api.desc %></span>
                          <% } else { %>
                          <%= his.api.desc %>
                          <% } %>
                      </cite>
                      <code><span class="text-<%= his.env.level %>"><%= his.serv.url %></span></code>
                      <%= lemon.when.default(his.create_time) %>
                  </footer>
                  <% if (userl) { %>
                      <footer class="blockquote-footer">
                          <% if (his.user.id) { %>
                            <a href="/manage/user/<%= his.user.id %>" data-preview><%= (his.user.name || '') %></a>
                          <% } else { %>
                            <%= (his.user.name || '') %>
                          <% } %>
                          <cite><%= (his.user.ip || '') %></cite>
                      </footer>
                  <% } %>
              </blockquote>
          </td>
          <% if (lemon.isMediumUpView()) { %>
              <td class="hidden-sm-down">
                  <button class="btn btn-secondary btn-sm text-muted icondh" id="histgl_<%= batchNo %>_3_<%= his.id%>"
                          title="Toggle <%= his.api.name %> Request & Response" style="border: none;" type="button">
                  <em class="fa fa-eye"></em>
                  </button>
                  <h6 class="invisible"></h6>
                  <button class="btn btn-secondary btn-sm text-muted icondh"
                          id="histgl_<%= batchNo %>_1_<%= his.id%>" title="Toggle <%= his.api.name %> Request"
                          style="border: none;" type="button">
                      <em class="fa fa-mail-reply"></em>
                  </button>
                  <h6 class="invisible"></h6>
                  <button class="btn btn-secondary btn-sm text-muted icondh"
                          id="histgl_<%= batchNo %>_2_<%= his.id%>" title="Toggle <%= his.api.name %> Response"
                          style="border: none; " type="button">
                      <em class="fa fa-mail-forward"></em>
                  </button>
                  <h6 class="invisible"></h6>
                  <button class="btn btn-secondary btn-sm text-muted icondh"
                          id="commenttgl_<%= batchNo %>_<%= his.id %>" title="Toggle <%= his.api.name %> API Document"
                          style="border: none; " type="button">
                      <em class="fa fa-comment"></em>
                  </button>
                  <h6 class="invisible"></h6>
                  <button class="btn btn-secondary btn-sm text-muted icondh"
                          id="hisnote_<%= batchNo %>_<%= his.id %>" title="Add Note for <%= his.api.name %>"
                          style="border: none; " type="button">
                      <em class="fa fa-sticky-note-o"></em>
                  </button>
                  <h6 class="invisible"></h6>
                  <button class="btn btn-secondary btn-sm text-muted icondh" id="hisshare_<%= batchNo %>_<%= his.id %>" title="Share <%= his.api.name %>" style="border: none; " type="button">
                      <em class="fa fa-share-alt"></em>
                  </button>
              </td>
          <% } %>
      </tr>

    <% }); %>
</script>

<script type="text/html" id="adv_body_tmpl">
    <form class="form-inline" id="adv_form">
        <select class="form-control borderinfo" style="height: 37px;" name="env" id="adv_env_id">
            <option value="">Environment</option>
        </select>
        <select class="form-control borderinfo" style="height: 37px;" name="group" id="adv_group_id">
            <option value="">Group</option>
        </select>
        <h1 class="invisible"></h1>
        <textarea class="form-control" rows="3" style="border:0px;" id="adv_mirror"></textarea>
    </form>
</script>

<script type="text/html" id="adv_footer_tmpl">
    <button type="button" class="btn btn-secondary borderinfo" data-dismiss="modal">Cancel</button>
    <button type="button" id="do_adv_search" class="btn btn-primary icondh"
            data-advinit="PQKhAIEEBMDcEMB2BjApuAyq+AnZALcACgAkBLAZwBcB7HATwEpwRgAoAbzYEhhgBtAPIAHKmRqJ4AGwC64AEqoAjgFdU1cKtQNwyCdDLIxEnjmVrqALnBdu3HgF8ANDz5DR4ybIXrhEiuhaOnqIBkaepr7+qNa29tzOrgIixl5yWDiw2uCSALaoPHkx4ADkJWwOQA">
        <em class="fa fa-search" title="Search"></em> Search
    </button>
</script>

<script type="text/html" id="batchcfg_body_tmpl">
    <form class="form-inline" id="batchcfg_form">
        <h1 class="invisible"></h1>
        <textarea class="form-control" rows="3" style="border:0px;" id="batchcfg_mirror"></textarea>
    </form>
</script>

<script type="text/html" id="batchcfg_footer_tmpl">
    <button type="button" class="btn btn-secondary borderinfo" data-dismiss="modal">Cancel</button>
    <button type="button" id="do_set_batchcfg" class="btn btn-primary icondh">
        <em class="fa fa-legal" title="Interface Setting-up"></em> Setting Up
    </button>
</script>

<script type="text/html" id="api_doc_tmpl">
  <div class="card" style="border:0px; margin-top: -70px;">
      <div class="card-block">
          <%
          var hasHost = lemon.has(rdata, 'host') && rdata.host;
          var api = rdata.item, host = rdata.host;
          if (hasHost) {
          %>
              <button type="button" class="btn btn-secondary btn-block borderinfo" id="doc_tgl_mutation">
                  <span class="text-muted icondh"><em class="fa fa-pencil text-info"></em>&nbsp;&nbsp;<%= api.name %>
                  </span>
              </button>
              <h4 class="invisible"></h4>
          <% } %>

          <button type="button" class="close" id="doc_close" aria-label="Close"><span aria-hidden="true">&times;</span> </button>

          <div id="api_doc_<%= api.id %>">
              <span class="text-muted">
              API Document -
                  <% if (2 == api.mutation) { %>
                      <span class="tag tag-success"><%= 'Mutation of ' + api.name %></span>
                  <% } else { %>
                      <span class="tag tag-info"><%= api.name %></span>
                  <% } %>
              </span>
              <% if (api.desc && api.desc.length > 0) { %>
              <br/><br/>
              <p class="font-italic text-muted" style="font-size: 80%"> -- <%= api.desc %> </p>
              <% } %>
              <br/>
              <%= highlight(api.request_doc, 'Request') %>
              <br/>
              <% if (!lemon.isBlank(api.response || {})) { %>
              <%= highlight(api.response_doc, 'Response') %>
              <% } %>
          </div>

          <% if (hasHost) { %>
              <div id="api_doc_<%= host.id %>" style="display: none;">
                  <span class="text-muted">
                      API Document -
                      <span class="tag tag-info"> <%= host.name %> </span>
                  </span>
                  <% if (host.desc && host.desc.length > 0) { %>
                      <br/><br/>
                      <p class="font-italic text-muted" style="font-size: 80%"> -- <%= host.desc %> </p>
                  <% } %>
                  <br/>
                  <%= highlight(host.request_doc, 'Request') %>
                  <br/>
                  <% if (!lemon.isBlank(host.response || {})) { %>
                  <%= highlight(host.response_doc, 'Response') %>
                  <% } %>
              </div>
          <% } %>
      </div>
  </div>
</script>

<script type="text/html" id="api_doc_lg_tmpl">
    <%
    var hasHost = lemon.has(rdata, 'host') && rdata.host;
    var api = rdata.item, host = rdata.host;
    if (hasHost) {
    %>
        <button type="button" class="btn btn-secondary pull-right"
                title="Toggle Mutation of <%= api.name %> API Document" style="border: none;" id="doc_tgl_mutation">
            <span class="text-info icondh"><em class="fa fa-pencil"></em></span>
        </button>
    <% } %>

    <h4 class="invisible"></h4>
    <div id="api_doc_<%= api.id %>">
        <p class="text-muted icondh" style="font-size: 95%;margin-top: 5px;">
            <em class="fa fa-info"></em>&nbsp;&nbsp;&nbsp;&nbsp;
            <% if (2 == api.mutation) { %>
                <span class="text-success"><%= 'Mutation of ' + api.name %></span>
            <% } else { %>
                <span class="text-info"><%= api.name %></span>
            <% } %>
            <%= (api.desc ? ('  ' + api.desc) : '') %>
        </p>
        <%= highlight(api.request_doc, 'Request') %>
        <% if (!lemon.isBlank(api.response || {})) { %>
        <%= highlight(api.response_doc, 'Response') %>
        <% } %>
    </div>

    <% if (hasHost) { %>
        <div id="api_doc_<%= host.id %>" style="display: none;">
            <p class="text-muted icondh" style="font-size: 95%;margin-top: 5px;">
                <em class="fa fa-info"></em>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="text-info"><%= api.name %></span>
                <%= (host.desc ? ('  ' + host.desc) : '') %>
            </p>
            <%= highlight(host.request_doc, 'Request') %>
            <% if (!lemon.isBlank(host.response || {})) { %>
            <%= highlight(host.response_doc, 'Response') %>
            <% } %>
        </div>
    <% } %>

</script>

<script type="text/html" id="api_view_url_tmpl">
  <div class="card card-block" style="border: none;">
      <button type="button" class="btn btn-sm btn-secondary borderinfo pull-right" id="tgl_view_url">
          <small class="text-muted pull-right icondh"><em class="fa fa-edit"></em>&nbsp;&nbsp;Request URL</small>
      </button>
      <textarea id="request_view_url" style="border:0px solid #ffffff;"><%= aURL %></textarea>
  </div>
</script>

<script type="text/html" id="api_navbar_header_tmpl">
    <div class="card">
        <div class="card-block">
          <% if (logined) { %>
              <h5 class="card-title text-muted">Hello, <%= username %></h5>
              <p class="card-text"></p>
              <a href="/manage" data-preview class="btn btn-primary icondh" title="Manage Home">
                  <em class="fa fa-home"></em>
              </a>
              &nbsp;
              {{!-- <a href="/manage/interfaces/1" data-preview class="btn btn-primary">Manage APIs</a> --}}
              <a href="/user/signout" data-preview class="btn btn-secondary pull-right borderinfo icondh" title="Sign Out">
                  <em class="fa fa-sign-out text-info"></em>
              </a>
          <% } else { %>
              <h5 class="card-title text-muted">Hello</h5>
              <p class="card-text text-muted">You need to login to get more.</p>
              <a href="/user/signin" data-preview class="btn btn-primary">Sign In</a>
              <a href="/user/signup" data-preview class="btn btn-primary">Create account</a>
          <% } %>

        </div>
    </div>
</script>

<script type="text/html" id="requ_terminal_tmpl">
    <div class="card" style="border: none;">
        <div id="console" class="console"></div>
    </div>
</script>

<script type="text/html" id="advrequ_body_tmpl">
    <form class="form-inline" id="advrequ_form">
        <h1 class="invisible"></h1>
        <textarea class="form-control" rows="3" style="border:0px;" id="advrequ_mirror"></textarea>
        <small class="text-info linebreak icondh">
            <em class="fa fa-info">&nbsp;</em>
            <span class="text-muted" id="advrequ_tip"></span>
        </small>
    </form>
</script>

<script type="text/html" id="advrequ_footer_tmpl">
    <button type="button" class="btn btn-secondary borderinfo" data-dismiss="modal">Cancel</button>
    <button type="button" id="do_advrequ_request" class="btn btn-primary"
      data-adv-init="PQKhAIEEBMDcEMB2BjApuASqgjgV1QM4Au4YwAUAN7kCQwwM0AlkUwPaLwA2mO+x4ABKp40VACdaACxFjxBAFzhqNGrQC+AGlr1GLdpx5Y8hEgAV44+AFtURCbQAOlm4uW01NdeXVA">
        Request
    </button>
</script>

{{!--
<div class="dropdown-divider invisible"></div>
<div class="dropdown-header">
    <h5>
        <span class="tag tag-danger">
            Product Environment
            <br/>
            <small class="linebreak">Add a header to label sections of actions in any dropdown menu.</small>
        </span>
    </h5>

    <div class="dropdown-header">
        <h6>
            Appapi
            <br/>
            <small class="linebreak">Add a header to label sections of actions in any dropdown menu.</small>
        </h6>

        <a class="dropdown-item" href="#">
            <span class="text-info">
                Action
            </span>
            <br/>
            <small class="linebreak text-muted">Add a header to label sections of actions in any dropdown menu.</small>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0);">Separated link</a>
    </div>
</div>
--}}
