<script type="text/html" id="dd_env_tmpl">
    <div class="dropdown-header" id="envh_<%= id %>">
        <h5>
            <span class="label label-<%= level %>">
                <%= name %>
                <% if (desc.length > 0) { %>
                <br/>
                <small class="linebreak"><%= desc %></small>
                <% } %>
            </span>
        </h5>
    </div>
</script>

<script type="text/html" id="dd_env_group_tmpl">
    <div class="dropdown-header" id="grouph_<%= env.id %>_<%= id %>">
        <h6 style="font-size: 90%">
            {{! <span class="text-<%= 'danger' == env.level ? 'danger' : 'muted' %>"> }}
            <span class="text-muted">
              <em class="fa fa-flag-o"></em>&nbsp;&nbsp;<%= name %>
              <% if (desc.length > 0) { %>
                <footer class="blockquote-footer">
                    <small class="linebreak"><%= desc %></small>
                </footer>
              <% } %>
            </span>
        </h6>
    </div>
</script>

<script type="text/html" id="dd_server_tmpl">
    <a class="dropdown-item" href="javascript:void(0);" id="server_<%= id %>">
        <span class="text-<%= env.level %>" style="font-size: 110%"><%= name %></span>
        <% if (desc.length > 0) { %>
        <footer class="blockquote-footer">
            <small class="linebreak text-<%= env.level %>" style="font-size: 80%"><%= desc %></small>
        </footer>
        <% } %>
    </a>
</script>

{{!--
<div class="dropdown-divider invisible"></div>
<div class="dropdown-header">
    <h5>
        <span class="label label-danger">
            Product Environment
            <br/>
            <small class="linebreak">Add a header to label sections of actions in any dropdown menu.</small>
        </span>
    </h5>

    <div class="dropdown-header">
        <h6>
            Appapi
            <br/>
            <small class="linebreak">Add a header to label sections of actions in any dropdown menu.</small>
        </h6>

        <a class="dropdown-item" href="#">
            <span class="text-info">
                Action
            </span>
            <br/>
            <small class="linebreak text-muted">Add a header to label sections of actions in any dropdown menu.</small>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0);">Separated link</a>
    </div>
</div>
--}}
