<script type="text/html" id="imp_start_tmpl">
    <div class="row">
        <div id="message" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card" style="border: none;">
                <img class="card-img-top invisible">
                <div class="card-block">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control borderinfo" id="start-source" rows="3" placeholder="aa"></textarea>
                        </div>
                        <button type="button" class="btn btn-outline-info pull-right" style="margin-left: 0.5rem;">Curl</button>
                        <button type="button" class="btn btn-outline-info pull-right" style="margin-left: 0.5rem; ">Swagger</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

{{!--
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
--}}

