
<div id="mapi_tool" style="display: none;"></div>

<script type="text/html" id="mapi_tool_tmpl">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand icondh" href="javascript:void(0);" id="mapi_new" title="New Manual API">
            <em class="fa fa-book text-info"></em>
        </a>
        <ul class="nav navbar-nav" id="mapi_tabs"></ul>
    </nav>
</script>

<script type="text/html" id="mapi_new_tmpl">
    <form>
        <div class="input-group input-group-lg">
            <button type="button" class="btn btn-sm btn-secondary" style="border: none;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                {{> logo}}
                &nbsp;&nbsp;
            </button>
            <input type="text" id="<%= inputURLId %>" class="form-control" style="border: none;height: 80px;" placeholder="Enter an URL address">
            <button type="button" class="btn btn-sm btn-info-outline pull-right icondh" data-new="<%= lemon.enc(2) %>" title="New Instance of API" style="border: none;">
                <em class="fa fa-leaf"></em>
            </button>
            <button type="button" class="btn btn-sm btn-info-outline pull-right icondh" data-new="<%= lemon.enc(3) %>" title="New Instance of Note" style="border: none;">
                <em class="fa fa-lemon-o"></em>
            </button>
            <button type="button" class="btn btn-sm btn-info-outline pull-right icondh" data-new="<%= lemon.enc(4) %>" title="New Instance of Merge" style="border: none;">
                <em class="fa fa-puzzle-piece"></em>
            </button>
        </div>
    </form>
</script>

<script type="text/html" id="mapi_tab_tmpl">
    <% lemon.each(mapis, function(inst, instId) { %>
        <li class="nav-item" id="mapi_tool_<%= instId %>">
            <% if (1 != inst.isDefault) { %>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary text-muted" style="border: 0px;"
                            id="mapi_tab_<%= instId %>" data-inst-id="<%= lemon.enc(instId) %>">
                    <%= inst.name %>
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split text-muted"
                            style="border: 0px;padding-right: 1px; padding-left: 1px;"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu boxshadow" style="border: 0px;">
                        <a class="dropdown-item text-muted icondh" href="javascript:void(0);"
                            id="mapi_title_<%= instId %>" data-inst-id="<%= lemon.enc(instId) %>">
                            <em class="fa fa-pencil-square-o text-info"></em>&nbsp;&nbsp;Title
                        </a>
                        <div class="dropdown-divider backgroundinfo"></div>
                        <a class="dropdown-item text-muted icondh" href="javascript:void(0);"
                            id="mapi_close_<%= instId %>" data-inst-id="<%= lemon.enc(instId) %>">
                            <em class="fa fa-close text-danger"></em>&nbsp;&nbsp;Close
                        </a>
                    </div>
                </div>
            <% } else { %>
                <button type="button" class="btn btn-secondary icondh" style="border: 0px;" title="Default Manual API"
                        id="mapi_tab_<%= instId %>" data-inst-id="<%= lemon.enc(instId) %>">
                  <em class="fa fa-home text-silver"></em>
                </button>
            <% } %>
        </li>
    <% }); %>
    <li class="nav-item">
        <button type="button" id="mapi-share" class="btn btn-secondary icondh" style="border: 0px;">
            <em class="fa fa-share-alt" title="Share"></em>
        </button>
    </li>
    <li class="nav-item">
        <button type="button" id="share_this" class="btn btn-secondary icondh text-info" style="border: 0px; display: none">
        <em class="fa fa-share-alt"></em>&nbsp;&nbsp;Share
        </button>
    </li>
</script>
