
<div id="mapi_tool" style="display: none;"></div>

<script type="text/html" id="mapi_tool_tmpl">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="javascript:void(0);" title="New Manual API">
            <span class="text-silver icondh"><em class="fa fa-book text-info"></em></span>
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary text-muted" style="border: 0px;">
                        Features
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split text-muted"
                            style="border: 0px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu borderinfo">
                        <a class="dropdown-item text-muted icondh" href="javascript:void(0);">
                            <em class="fa fa-pencil-square-o text-info"></em>&nbsp;&nbsp;Title
                        </a>
                        <div class="dropdown-divider backgroundinfo"></div>
                        <a class="dropdown-item text-muted icondh" href="javascript:void(0);">
                            <em class="fa fa-close text-danger"></em>&nbsp;&nbsp;Close
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</script>
