<script type="text/html" id="save_body_tmpl">
    <form id="save_with_form">
        <div class="form-group">
            <label for="title">Title</label>
            <textarea class="form-control borderinfo" id="title" name="title" rows="1" placeholder="Note Title"></textarea>
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control borderinfo" id="summary" name="summary" rows="3" placeholder="Summary for Note"></textarea>
        </div>
        <div class="form-group">
            <label for="note">Note</label>
            <textarea class="form-control borderinfo" id="note" name="note" rows="2" placeholder="Remarks for Note"></textarea>
        </div>
    </form>
</script>
<script type="text/html" id="save_foot_tmpl">
    <button type="button" class="btn btn-secondary borderinfo" data-dismiss="modal">Cancel</button>
    <button type="button" id="save_with" class="btn btn-primary"> Save</button>
</script>

<script type="text/html" id="note_tags_tmpl">

</script>

<script type="text/html" id="menu_lang_tmpl">
    <p style="text-align: center;"><small class="text-silver">Right Click to Preview, Click to Choose</small></p>
    <div class="form-group form-group-lg" style="margin-top:15px;">
        <div class="col-sm-12">
            <input class="form-control borderinfo" type="text" id="note_mode_qry" placeholder="Search Language...">
        </div>
    </div>
    <% lemon.each(langs, function(lang, langname) { %>
    <div class="dropdown-item" id="lang_<%= lang.id %>" data-lang="<%= lemon.enc(lang) %>">
        <div class="card borderinfo">
            <div class="card-block">
                <h5 class="card-title">
                    <% if (langname == thislang.name) { %>
                        <span class="text-danger icondh"> <em class="fa fa-check"></em> </span>
                        <span class="text-danger"><%= langname %></span>
                    <% } else { %>
                        <span class="text-success"><%= langname %></span>
                    <% } %>
                </h5>

                <% if ('null' != lang.mime || (lang.mimes && lang.mimes.length > 0)) { %>
                <p class="card-text text-silver">Defined MIME Type
                    <% } %>
                    <% if (lang.mimes && lang.mimes.length > 0) { lemon.each(lang.mimes, function(mime, i2) { %>
                        <br/>
                        <% if (thislang.chosenMimeOrExt == mime) { %>
                            <span class="text-danger icondh"> <em class="fa fa-check"></em> </span>
                        <% } %>
                        <small class="text-muted"><a href="javascript:void(0);" data-lang-info="<%= lemon.enc(mime) %>"><%= mime %></a> </small>
                    <% }); } else if ('null' != lang.mime) { %>
                        <br/>
                        <% if (thislang.chosenMimeOrExt == lang.mime) { %>
                            <span class="text-danger icondh"> <em class="fa fa-check"></em> </span>
                        <% } %>
                        <small class="text-muted"><a href="javascript:void(0);" data-lang-info="<%= lemon.enc(lang.mime) %>"><%= lang.mime %></a></small>
                    <% } %>
                    <% if ('null' != lang.mime || (lang.mimes && lang.mimes.length > 0)) { %>
                </p>
                <% } %>

                <% if (lang.ext && lang.ext.length > 0) {  %>
                <p class="card-text text-silver">Extension
                    <% lemon.each(lang.ext, function(ext, idx) { %>
                        <br/>
                        <% if (thislang.chosenMimeOrExt == ext) { %>
                            <span class="text-danger icondh"> <em class="fa fa-check"></em> </span>
                        <% } %>
                        <small class="text-muted"><a href="javascript:void(0);" data-lang-info="<%= lemon.enc(ext) %>"><%= ext %></a></small>
                    <% }); %>
                </p>
                <% } %>
            </div>
        </div>
    </div>
    <% }); %>
    <div><%= lemon.repeat('&nbsp;', 80) %></div>
</script>

<script type="text/html" id="menu_theme_tmpl">
    <p style="text-align: center;"><small class="text-silver">Right Click to Preview, Click to Choose</small></p>
    <% lemon.each(themes, function(th, idx) { %>
        <div class="dropdown-item" data-theme="<%= lemon.enc(th) %>">
            <blockquote class="blockquote">
                <% if (th == thistheme) { %>
                    <span class="text-danger icondh"> <em class="fa fa-check"></em> </span>
                    <span class="text-danger"><small><%= th %></small></span>
                <% } else { %>
                    <span class="text-success"><small><%= th %></small></span>
                <% } %>
            </blockquote>
        </div>
    <% }); %>
    <div><%= lemon.repeat('&nbsp;', 60) %></div>
</script>

<script type="text/html" id="note_card_tmpl">
    <div class="dropdown-item" id="n_<%= n._id %>" data-entity="<%= lemon.enc(n) %>">
        <div class="card borderinfo">
            <div class="card-block">
                <h5 class="card-title linebreak"><%= lemon.escape(n.title) %></h5>
                <small class="card-subtitle linebreak text-silver">
                    <% if (n.id) { %>
                        Note.<%= n.id %>
                    <% } %>
                    <% if (userl) { %>
                        Created by&nbsp;
                        <% if (n.create_by.id) { %>
                        <a href="/manage/user/<%= n.create_by.id %>" data-preview><%= (n.create_by.name || '') %></a>
                        <% } else { %>
                        <%= (n.create_by.name || '') %>
                        <% } %>
                        &nbsp;
                    <% } %>
                    <%= lemon.when.default(n.create_time) %>
                </small>
                <h5 class="invisible"></h5>
                <p class="card-text linebreak" title="Note Summary"><%= lemon.escape(n.summary) %></p>
                <% if (n.note && n.note.length > 0) { %>
                <div class="alert alert-warning linebreak" title="Note Remarks" style="border: none;">
                    <%= n.note %>
                </div>
                <% } %>
            </div>
            <div class="card-block">
                <button type="button" id="n_tags_<%= n._id %>" data-nid="<%= lemon.enc(n._id) %>" class="btn btn-info-outline icondh" style="border: 0px;">
                    <em class="fa fa-tags" title="Tags"></em>
                </button>
                <!--<a href="#" class="card-link">Card link</a>-->
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="menu_note_tmpl">
    <p style="text-align: center;"><small class="text-silver">Double Click to Choose</small></p>
    <div class="form-group form-group-lg" style="margin-top:15px;">
        <div class="col-sm-12">
            <input class="form-control borderinfo" type="text" id="note_qry" placeholder="Search Note...">
        </div>
    </div>
    <div><%= lemon.repeat('&nbsp;', 90) %></div>
    <div id="note_entities"></div>
    <div  class="card" style="border: 0px;">
        <div class="card-block" id="next-page"></div>
    </div>
</script>

<script type="text/html" id="note_tool_tmpl">
    <nav class="navbar nav-pills">
        <ul class="nav" id="note_tool_bar">
            <li class="nav-item" id="menu_logo">
                <a class="nav-link" href="javascript:void(0);" style="zoom: 80%;margin-top: 5px;">
                    {{> logo}}
                </a>
            </li>
            <% lemon.each(menus, function(menu) { %>
                <% if ('dropdown' == menu.type) { %>
                    <li class="nav-item dropdown" id="<%= menu.id %>">
                        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false"><%= menu.ddName %></a>
                        <div class="dropdown-menu boxshadow" style="border: none;" id="<%= menu.id %>_dd">
                            <% if (['menu_dd_note','menu_dd_theme','menu_dd_mode'].indexOf(menu.id) == -1) { %>
                                <% lemon.each(menu.items, function(item) { %>
                                  <% if ('separator' == item.name) { %>
                                      <div class="dropdown-divider"></div>
                                  <% } else if ('empty' == item.name) { %>
                                      <div><%= lemon.repeat('&nbsp;', item.repeat) %></div>
                                  <% } else if ('none' == item.name) { %>
                                  <% } else { %>
                                      <a class="dropdown-item" href="javascript:void(0);" data-menuact="<%= item.action %>" data-params="<%= item.params %>" title="<%= item.title %>"><%= item.text %></a>
                                  <% } %>
                                <% }); %>
                            <% } %>
                        </div>
                    </li>
                <% } else if ('link' == menu.type) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-menuact="<%= menu.item.action %>" data-params="<%= menu.item.params %>" title="<%= menu.item.title %>"><%= menu.item.text %></a>
                    </li>
                <% } %>
            <% }); %>

        </ul>
        <a href="javascript:void(0);" class="close" title="Close" data-menuact="LYUwdgrgwgNg9gZxEA" data-params="N4XyA" aria-label="Close">
            <span aria-hidden="true" style="zoom: 70%;">x</span>
        </a>
    </nav>
</script>
