
<script type="text/html" id="share_his_tmpl">
    <%= decodeURI('%3Cscript%20src=%22/dist/boot.js%22%3E%3C/script%3E') %>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card" style="border: 0px;">
                <div class="card-block">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="border: 0px;">
                <div class="card-block">
                    <%= highlight(share.content.api.request, 'Request') %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="border: 0px;">
                <div class="card-block">
                    <%= highlight(share.content.api.response || {}, 'Response') %>
                </div>
            </div>
        </div>
    </div>
</script>
