<script type="text/html" id="share_his_tmpl">
    <% var his = share.content; %>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card" style="border: 0px;">
                <div class="card-block">
                    <div class="card-title">
                        <button class="navbar-toggler navbar-brand"> {{> logo}} </button>
                    </div>

                    <% if (1 == share.preview) { %>
                        <div class="card-title pull-right">
                            <button type="button" class="btn btn-secondary text-info icondh" style="border: 0px;" id="share_this">
                            <em class="fa fa-share-alt"></em>&nbsp;&nbsp;Share
                            </button>
                        </div>
                    <% } %>

                    <p class="card-title">
                        <h5><%= share.title || his.api.name %></h5>
                    </p>
                    <% if (share.desc && share.desc.length > 0) { %>
                    <p class="card-text"><small class="text-muted"><%= share.desc %></small></p>
                    <% } %>

                    <% var hasNote = his.note && his.note.length > 0; %>
                    <div class="alert alert-warning linebreak" role="alert" style="<%= hasNote ? '' : 'display: none;' %>border: 0px;font-size: 85%;">
                        <% if (hasNote) { %>
                        <%= his.note %>
                        <% } %>
                    </div>
                    <footer class="blockquote-footer">
                        <span class="text-<%= his.env.level %>"><%= his.env.name %>  <%= his.group.name %> - <%= his.serv.name %></span>
                    </footer>
                    <h6 class="invisible"></h6>
                    <footer class="blockquote-footer">
                        <% if (2 == his.api.mutation) { %>
                        Mutation of
                        <% } %>
                        <span class="font-weight-bold"><%= his.api.name %></span>
                        <cite style="font-size: 90%">
                            <% if (2 == his.api.mutation) { %>
                            <span class="text-success"><%= his.api.desc %></span>
                            <% } else { %>
                            <%= his.api.desc %>
                            <% } %>
                        </cite>
                        <code><span class="text-<%= his.env.level %>"><%= his.serv.url %></span></code>
                        <%= lemon.when.default(his.create_time) %>
                    </footer>
                    <% if (share.userl) { %>
                        <h6 class="invisible"></h6>
                        <footer class="blockquote-footer">
                            {{!--
                            Created by
                            <% if (his.user.id) { %>
                            <a href="/manage/user/<%= his.user.id %>" data-preview><%= (his.user.name || '') %></a>
                            <% } else { %>
                            <%= (his.user.name || '') %>
                            <% } %>
                            <cite><%= (his.user.ip || '') %></cite>
                            ;&nbsp;&nbsp;
                            --}}
                            Sharing from
                            <% if (share.from.id) { %>
                            <a href="/manage/user/<%= share.from.id %>" data-preview><%= (share.from.name || '') %></a>
                            <% } else { %>
                            <%= (share.from.name || '') %>
                            <% } %>
                            <cite><%= (share.from.ip || '') %></cite>
                        </footer>
                    <% } else { %>
                        <h6 class="invisible"></h6>
                        <footer class="blockquote-footer">
                            {{!--
                            Created by <%= (his.user.name || '') %>
                            <cite><%= (his.user.ip || '') %></cite>
                            ;&nbsp;&nbsp;
                            --}}
                            Sharing from <%= (share.from.name || '') %>
                        </footer>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card" style="border: 0px;">
                <div class="card-block">
                    <%= highlight(his.api.request, button('Request', ('share_his_requ_tgl_' + his.id), 1), false, {
                        id: ('share_his_requ_' + his.id)
                    }) %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="border: 0px;">
                <div class="card-block">
                    <%= highlight(his.api.response || {}, button('Response', ('share_hisdoc_resp_' + his.id))) %>
                </div>
            </div>
        </div>
    </div>
</script>
