{{#content "head" mode="append"}}
    <script src="/dist/note.js"></script>
{{/content}}

<ul class="nav nav-tabs" style="display: none;" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="tri-note-tab1" data-toggle="tab" data-target="#note-tab1" href="#note-tab1" role="tab"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tri-note-tab2" data-toggle="tab" data-target="#note-tab2" href="#note-tab2" role="tab"></a>
    </li>
</ul>
<div class="tab-content" id="note-layout">
    <div class="tab-pane active" id="note-tab1" role="tabpanel">
        <button type="button" class="btn btn-secondary-outline btn-sm icondh" id="note-tool-tri" title="Toggle Note Menu"
                style="position: absolute;left: 0;top: 0;border: 0px;z-index: 40000;">
            <em class="fa fa-rocket"></em>
        </button>
        <textarea class="form-control" rows="17" style="border:0px;" id="note_textarea"></textarea>
        <div id="note_tool" style="display:none;"></div>
        <input type="file" id="note_open_file" class="hidden"/>
    </div>
    <div class="tab-pane" id="note-tab2" role="tabpanel"></div>
</div>

{{> tmpl/note_tmpl}}
