<div id="modals_context" data-styl="DwZwLgngNgpgfAKAAQtSgdAYwLYFoS6zYD2AdkugMLEAmMAsgJYBOzxzSA3kgEYCGmANYBzNgFdSNXJmJR2ALgDEAM1VqA3EhlzmSgEwwAzAA5DmTVEakYuABYxGw22HkBGdABZDAdgCsmgF9kNFQsPAIiMgocaWJsbBhSMC5tBRBGKAA3GGYgkNCYiJgScjDcQRgIAHd2GgAaaPDCYqiygAc2NpzIFNkFUT4IPPzG-GaS0b4wON6deSRsPmFEsD4A0aKJstIxbB4c2YUeKDEYYfyyzdaY0loYOsvx67xV4UPdRQBOTENDPWNziFHpFSoUwMwrG9OKldKIYIlAWhgS1QXhMnwIXxjvdkVsYgBHMR8SzKRgHaF9D4ABg83hoADZfIiCk0QUgOjAuOy+DQaJD5FTAsELoUnqVqHQmKx2LhhGIwGAciAuTxajl5LdrJpVcw6MxcBCnC5XFS2gAPJAgWSMGhIcF8UggNoYlbagQicSSWJze2O53MV1IZkYUVsqh3KVsfWWaw7Pbk7m8-mCrSUpQwKkwAz+IPCoGhlEUCUMFhR2XyxXMRbMCocbgw+aKVw0Pw8QxCkYbMVFiOlmVyhU5au1-BiHhgWBchtIRQZrMwHOA4AAenA0HgQA"></div>
<div id="dd_api_exchange" style="display: none;"> </div>

<script type="text/html" id="modal_tmpl">
  <div class="modal fade" id="<%= id %>">
      <% if (contentClose) { %>
          <button type="button" class="btn btn-danger-outline btn-sm icondh"
                  data-dismiss="modal" style="position: absolute;right: 0;top: 0;border: 0px;z-index: 500000" aria-label="Close">
              <em class="fa fa-close"></em>
          </button>
      <% } %>
      <div class="modal-dialog <%= (('' == size) ? '' : ('modal-' + size)) %>" role="document">
          <% if (content && lemon.isFunc(content)) { %>
              <%= content(id) %>
          <% } else { %>
              <div class="modal-content">
                  <% if (title.length > 0) { %>
                    <div class="modal-header">
                        <% if (titleClose) { %>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <% } %>
                        <h4 class="modal-title"><%= title %></h4>
                    </div>
                  <% } %>
                  <div class="modal-body borderinfo"> <%= body %></div>
                  <div class="modal-footer borderinfo"> <%= footer %></div>
              </div>
          <% } %>
      </div>
  </div>
</script>
