<nav class="text-xs-right">
    <ul class="pagination">
      {{#each page.index}}
        {{#is 0 "==" num}}
          <li class="page-item">
              <a class="page-link" href="javascript:void(0);"> {{text}} </a>
          </li>
        {{else}}
          {{#is current ">" 0}}
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0);"> {{text}} </a>
            </li>
          {{else}}
              <li class="page-item">
                  <a class="page-link" data-pjax href="{{action}}{{num}}"> {{text}} </a>
              </li>
          {{/is}}
        {{/is}}
      {{/each}}
    </ul>
</nav>
