<article class="content {{pagename}}" source="{{source}}">


    <div class="title-block">
        <h3 class="title">
            Add new {{desc}} <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>

    <form name="item">

        <div class="card">
            <div class="card-block" id="item-card">
                <div class="card-title-block"><h3 class="title"></h3></div>

                <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                        <a href="#item-edit" class="nav-link active" data-target="#item-edit" data-toggle="tab" aria-controls="item-edit" role="tab">Edit</a>
                    </li>
                    {{#if res_tab}}
                      <li class="nav-item">
                          <a href="#item-res" class="nav-link" data-target="#item-res" aria-controls="item-res" data-toggle="tab" role="tab">Resource</a>
                      </li>
                    {{/if}}
                    <li class="nav-item">
                        <a href="#item-desc" class="nav-link" data-target="#item-desc" aria-controls="item-desc" data-toggle="tab" role="tab">Schema</a>
                    </li>
                </ul>

                <div class="tab-content tabs-bordered">
                    <div class="tab-pane fade in active" id="item-edit">
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label text-xs-right">
                                Category:
                            </label>
                            <div class="col-sm-10"><select class="c-select form-control boxed">
                                <option selected>Select Category</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select></div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="item-schema" value="{{schema}}"/>
                            <textarea class="form-control underlined" rows="10" id="item-editor"></textarea>
                        </div>
                    </div>
                    {{#if res_tab}}
                      <div class="tab-pane fade" id="item-res">
                          <div id="res-tree"></div>
                      </div>
                    {{/if}}
                    <div class="tab-pane fade" id="item-desc">
                        <div class="form-group row">
                            <pre class="col-sm-10" id="output"></pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="button" id="item-submit" class="btn btn-primary" m="{{method}}" act="{{action}}">
                        Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <script src="/dist/manage/itemedit.js" data-pjax></script>
</article>
