<article class="content {{pagename}}" source="item-list">
    <div class="title-search-block">
        <div class="title-block" id="search-title-block">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="title">
                        {{desc}}
                        {{#if pageedit}}
                          <a href="{{pageedit}}" data-pjax class="btn btn-oval btn-primary btn-sm rounded-s">
                              Create New
                          </a>
                        {{/if}}
                        {{!
                        <div class="action dropdown invisible">
                            <button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                More actions...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o icon"></i>Mark as a draft</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-modal"><i class="fa fa-close icon"></i>Delete</a>
                            </div>
                        </div>
                        }}
                    </h3>
                    {{! <p class="title-description invisible"> List of sample items - e.g. books, movies, events, etc... </p> }}
                    {{#each searchLenCeil}}
                        <input type="text" class="hidden-sm-down form-control boxed rounded-s invisible">
                    {{/each}}
                </div>
                <div class="col-md-8">
                    <br/>
                    <div class="items-search" id="items-search" data-query="{{queryStr}}">
                      {{#is searchLastEl ">=" 0}}
                        {{#is 0 "==" searchLastEl}}
                          {{#each search}}
                              <div class="input-group" style="height: 38px;">
                                {{#is 1 "==" type}}
                                    <input type="text" name="{{name}}" class="form-control boxed rounded-s" placeholder="{{tip}}">
                                {{/is}}
                                {{#is 2 "==" type}}
                                    <select class="form-control boxed rounded-s" name="{{name}}">
                                        <option value="">{{tip}}</option>
                                      {{#each options}}
                                          <option value="{{val}}">{{text}}</option>
                                      {{/each}}
                                    </select>
                                {{/is}}
                                  <span class="input-group-btn">
                                      <a class="btn btn-secondary rounded-s" data-query="#items-search" data-pjax href="{{../action}}1" type="button">
                                          <i class="fa fa-search"></i>
                                      </a>
                                      <a class="btn btn-secondary rounded-s" href="javascript:void(0);" id="item-search-undo"><i class="fa fa-undo"></i></a>
                                  </span>
                              </div>
                          {{/each}}
                        {{else}}
                            <form class="form-inline">
                              {{#each search}}
                                {{#is 1 "==" type}}
                                    <div class="form-group">
                                        <input type="text" class="form-control" style="border: 0px;" name="{{name}}" placeholder="{{tip}}">
                                    </div>
                                {{else}}
                                    <div class="form-group">
                                        <select class="form-control" name="{{name}}" style="height: 38px;border: 0px; margin-top: 5px;">
                                        <option value="">{{tip}}</option>
                                          {{#each options}}
                                              <option value="{{val}}">{{text}}</option>
                                          {{/each}}
                                        </select>
                                    </div>
                                {{/is}}
                              {{/each}}
                                <a class="btn btn-secondary rounded-s" data-query="#items-search" data-pjax href="{{../action}}1" type="button" style="margin-top:5px;">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a class="btn btn-secondary rounded-s" href="javascript:void(0);" style="margin-top:5px;" id="item-search-undo">
                                    <i class="fa fa-undo"></i>
                                </a>
                            </form>
                        {{/is}}
                      {{/is}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-primary" id="listchoose-card"></div>

    <div class="card items" id="items-card">
        <ul class="item-list striped">

            <li class="item item-list-header hidden-sm-down">
                <div class="item-row">
                  {{#each list.defines}}
                      <div class="item-col item-col-header {{clazz}}">
                          <div><span>{{title}}</span></div>
                      </div>
                  {{/each}}
                  {{#is itemAction "==" 1}}
                      <div class="item-col item-col-header fixed item-col-actions-dropdown"></div>
                  {{/is}}
                </div>
            </li>

          {{#each list.items}}
              <li class="item" id="item-{{id}}">
                  <div class="item-row">
                    {{#each this.row}}
                        <div class="item-col {{clazz}}">
                            <div class="item-heading">{{title}}</div>
                            <div> {{{value}}}</div>
                        </div>
                    {{/each}}

                    {{#is ../itemAction "==" 1}}
                        <div class="item-col fixed item-col-actions-dropdown" id="list-tool-{{numId}}">
                            {{!--
                            {{#is ../listchoose.has "==" 1}}
                                <p class="text-primary icondh">
                                <em class="fa {{#is numId "in" ../listchoose.ids}}fa-check-square-o{{else}}fa-square-o{{/is}}" id="listchoose-chk-{{numId}}"></em>
                                </p>
                            {{/is}}
                            --}}
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                    <span class="inactive"> <i class="fa fa-cog"></i> </span>
                                    <span class="active"> <i class="fa fa-chevron-circle-right"></i> </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">
                                        <li>
                                            <a class="remove" href="#" data-toggle="modal" data-target="#confirm-modal"
                                               data-biz-type="item-rem" data-href="{{../retrieveAction}}{{id}}" data-item-id="{{id}}">
                                            <i class="fa fa-trash-o "></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="edit" data-pjax href="{{../retrieveAction}}{{id}}"> <i class="fa fa-pencil"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {{/is}}

                  </div>
              </li>
          {{/each}}

        </ul>
    </div>
    {{#is listchoose.has "==" 1}}
        <input type="hidden" id="listchoose-option" data-body="{{listchoose.body}}" data-ids="{{listchoose.ids}}"/>
    {{/is}}
    <input type="hidden" id="action-base" value="{{action}}"/>

    {{> pagination}}

    <script src="/dist/manage/itemlist.js" data-pjax></script>
</article>
