<article class="content {{pagename}}" source="item-edit">


    <div class="title-block">
        <h3 class="title">
          {{#if update}}Edit {{else}}Create new {{/if}}{{desc}} <span class="sparkline bar" data-type="bar"></span>
            <a class="btn btn-secondary-outline icondh" id="item-back" data-pjax href="{{listAction}}" role="button">
                <em class="fa fa-th-list"></em>
            </a>
        </h3>
    </div>

    <form name="item">

        <div class="card">
            <div class="card-block" id="item-card">
                <div class="card-title-block"><h3 class="title"></h3></div>

                <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                        <a href="#item-edit" class="nav-link active" data-target="#item-edit" data-toggle="tab" aria-controls="item-edit" role="tab">Edit</a>
                    </li>
                    {{#each tabs}}
                        <li class="nav-item">
                            <a href="#item-sel-{{tabId}}" class="nav-link" data-target="#item-sel-{{tabId}}" aria-controls="item-sel-{{tabId}}" data-toggle="tab" role="tab">{{tabName}}</a>
                        </li>
                    {{/each}}
                    {{#if res_tab}}
                      <li class="nav-item">
                          <a href="#item-res" class="nav-link" data-target="#item-res" aria-controls="item-res" data-toggle="tab" role="tab">Resource</a>
                      </li>
                    {{/if}}
                    {{#is form_type "==" 2}}
                      <li class="nav-item">
                          <a href="#item-desc" class="nav-link" data-target="#item-desc" aria-controls="item-desc" data-toggle="tab" role="tab">Schema</a>
                      </li>
                    {{/is}}
                </ul>

                <div class="tab-content tabs-bordered">
                    <div class="tab-pane fade in active" id="item-edit">
                        <div class="form-group">
                            <input type="hidden" id="item-schema" value="{{schema}}"/>
                            <input type="hidden" id="item-value" value="{{value}}"/>
                            <input type="hidden" id="item-addition" value="{{addition}}"/>
                            {{#is form_type "==" 2}}
                              <textarea class="form-control underlined" rows="10" id="item-editor"></textarea>
                            {{else}}
                              {{> manage/form}}
                            {{/is}}
                        </div>
                    </div>
                    {{#each tabs}}
                        <div class="tab-pane fade" id="item-sel-{{tabId}}" data-checkname="{{inputName}}">
                          {{> manage/form}}
                        </div>
                    {{/each}}
                    {{#if res_tab}}
                      <div class="tab-pane fade" id="item-res">
                          <div id="res-tree" action="{{res_action}}" showopt="{{res_tab}}"></div>
                      </div>
                    {{/if}}
                    {{#is form_type "==" 2}}
                      <div class="tab-pane fade" id="item-desc">
                          <div class="form-group row">
                              <pre class="col-sm-10" id="output"></pre>
                          </div>
                      </div>
                    {{/is}}
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="button" id="item-submit" class="btn btn-primary" data-form="{{form_type}}" data-method="{{method}}" data-action="{{action}}">
                        Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <script src="/dist/manage/itemedit.js" data-pjax></script>
</article>
