{{#content "head" mode="append"}}
    <script src="/dist/merge.js"></script>
{{/content}}

<ul class="nav nav-tabs" style="display: none;" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="tri-merge-tab1" data-toggle="tab" data-target="#merge-tab1" href="#merge-tab1" role="tab"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tri-merge-tab2" data-toggle="tab" data-target="#merge-tab2" href="#merge-tab2" role="tab"></a>
    </li>
</ul>
<div class="tab-content" id="merge-layout">
    <div class="tab-pane active" id="merge-tab1" role="tabpanel">
        <div class="pos-f-t">
            <div class="collapse" id="merge-header">
                <div class="container-fluid bg-inverse p-1">

                </div>
            </div>
            <div class="navbar navbar-light bg-faded navbar-static-top" style="background-color: white;" id="merge_nav">
                <button class="navbar-toggler navbar-brand" style="background-image:none; border: none;" type="button" data-toggle="collapse"
                        data-target="#merge-header" title="Merge & Diff">
                  {{> logo}}
                </button>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-secondary text-info icondh pull-right" style="border: 0px;position: absolute;right: 0;z-index: 50000;display: none;" id="share_this">
            <em class="fa fa-share-alt"></em>&nbsp;&nbsp;Share&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button>

        <div id="merge_view"></div>
        <input type="file" id="load_left" class="hidden" style="display: none;"/>
        <input type="file" id="load_right" class="hidden" style="display: none;"/>
    </div>
    <div class="tab-pane" id="merge-tab2" role="tabpanel"></div>
</div>

{{> tmpl/sharing_tmpl}}
{{> tmpl/merge_tmpl}}
