{{#content "head" mode="append"}}
    <script src="/dist/show.js"></script>
{{/content}}

<ul class="nav nav-tabs" style="display: none;" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="tri-show-tab1" data-toggle="tab" data-target="#show-tab1" href="#show-tab1" role="tab"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tri-show-tab2" data-toggle="tab" data-target="#show-tab2" href="#show-tab2" role="tab"></a>
  </li>
</ul>
<div class="tab-content" id="show-layout">
  <div class="tab-pane active" id="show-tab1" role="tabpanel">

    {{!-- <div class="card card-block borderinfo" id="show-card" style="margin-bottom: 0.01rem; border: none;"> --}}
    <div id="show-card" style="border: none;">
    </div>

  </div>
  <div class="tab-pane" id="show-tab2" role="tabpanel"></div>
</div>

<script type="text/html" id="statics_tool_tmpl">
  <form>
    <div class="form-group">
      <div class="btn-group btn-group-sm pull-right" role="group">
        <button type="button" data-show="IxA" class="btn btn-secondary icondh" style="border: none; display: none;">
          <em class="text-silver fa fa-laptop" title="Summary"></em>
        </button>
        <button type="button" data-show="ExA" class="btn btn-secondary icondh" style="border: none; display: none;">
          <em class="text-silver fa fa-tablet" title="Table"></em>
        </button>
        {{!--
        <button type="button" data-show="MxA" class="btn btn-secondary icondh" style="border: none; display: none;">
          <em class="text-silver fa fa-filter" title="Table"></em>
        </button>
        --}}
      </div>
    </div>
  </form>
</script>
