extends layout

block content
  <textarea id="textarea" rows="20" class="form-control"></textarea>
  button#j5format format
  h1= title
  p Welcome to www1 #{title}
  a test
  #abc
  #test

block footer
  p foot112
