<!DOCTYPE html>
<html lang="en">
<head data-user-event="{{userEvent}}">
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{#block "head"}}
    <title>{{title}}</title>
    <script src="/dist/index.js"></script>
    {{#if ENV_DEVELOPMENT}}
        <script src="{{livereload}}"></script>
    {{/if}}

    <style>
        .borderinfo { border-color: #d9edf7; }
        .backgroundinfo { background-color: #d9edf7; }
    </style>
  {{/block}}
</head>
<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
  {{> modals}}
</body>
</html>
